{% extends 'base.html' %}
{% block content %}
<div class="special">
    <div class="container">
        <div class="special-heading">
            <h3>All Menu</h3>
        </div>
        <div class="special-grids">
        {% for f in foods %}
                <div class="col-md-4 w3l-special-grid">
                    <a href="{% url 'food_details' f.id %}">
                        <div class="col-md-6 w3ls-special-img" style="background: url('/media/{{f.image}}') no-repeat -17px 0px; background-size: cover;">
                            <div class="w3ls-special-text effect-1">
                                <h4>{{f.name}}</h4>
                            </div>
                        </div>
                    </a>

                    <div class="col-md-6 agileits-special-info">
                        <a href=""><h4>{{f.name}}</h4></a>
                        <p>{{ f.sale_price }}</p>
                    </div>
                </div>
        {% endfor %}
                <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //special -->
<!-- features -->
<div class="features">
    <div class="container">
        <div class="features-heading">
            <h3>Our Features</h3>
        </div>
        <div class="features-grids">
            <div class="col-md-4 features-left">
                <div class="features-left-info">
                </div>
            </div>
            <div class="col-md-8 features-right">
                <div class="features-right-info">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam orci odio, viverra quis convallis et, laoreet nec arcu. Nulla pellentesque purus in velit placerat luctus. Aliquam elementum vestibulum lobortis. Donec fermentum arcu efficitur urna malesuada, pretium ultrices sem feugiat. Mauris elit tortor, mattis et blandit et, fringilla et lacus. Sed ullamcorper ante facilisis efficitur eleifend. Nam rutrum posuere ligula. Aliquam venenatis at orci non ultrices. Cras ultrices accumsan dui a porttitor. In et fermentum velit. Morbi fermentum ipsum magna, ut fringilla libero fermentum eget. Mauris scelerisque turpis lectus, nec vulputate arcu egestas ac. Duis sollicitudin molestie consectetur. Donec semper mauris vel nisl faucibus, id hendrerit elit dapibus.</h3>
                </div>
                <div class="features-right-grids">
                    <div class="features-right-left">
                        <div class="features-right-icon effect-2">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="features-right-right">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam orci odio, viverra quis convallis et, laoreet nec arcu. Nulla pellentesque purus in velit placerat luctus. Aliquam elementum vestibulum lobortis. Donec fermentum arcu efficitur urna malesuada, pretium ultrices sem feugiat. Mauris elit tortor, mattis et blandit et, fringilla et lacus. Sed ullamcorper ante facilisis efficitur eleifend. Nam rutrum posuere ligula. Aliquam venenatis at orci non ultrices. Cras ultrices accumsan dui a porttitor. In et fermentum velit. Morbi fermentum ipsum magna, ut fringilla libero fermentum eget. Mauris scelerisque turpis lectus, nec vulputate arcu egestas ac. Duis sollicitudin molestie consectetur. Donec semper mauris vel nisl faucibus, id hendrerit elit dapibus.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="features-right-grids">
                    <div class="features-right-left">
                        <div class="features-right-icon effect-2">
                            <i class="fa fa-asterisk" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="features-right-right">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam orci odio, viverra quis convallis et, laoreet nec arcu. Nulla pellentesque purus in velit placerat luctus. Aliquam elementum vestibulum lobortis. Donec fermentum arcu efficitur urna malesuada, pretium ultrices sem feugiat. Mauris elit tortor, mattis et blandit et, fringilla et lacus. Sed ullamcorper ante facilisis efficitur eleifend. Nam rutrum posuere ligula. Aliquam venenatis at orci non ultrices. Cras ultrices accumsan dui a porttitor. In et fermentum velit. Morbi fermentum ipsum magna, ut fringilla libero fermentum eget. Mauris scelerisque turpis lectus, nec vulputate arcu egestas ac. Duis sollicitudin molestie consectetur. Donec semper mauris vel nisl faucibus, id hendrerit elit dapibus. </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="features-right-grids">
                    <div class="features-right-left">
                        <div class="features-right-icon effect-2">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="features-right-right">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam orci odio, viverra quis convallis et, laoreet nec arcu. Nulla pellentesque purus in velit placerat luctus. Aliquam elementum vestibulum lobortis. Donec fermentum arcu efficitur urna malesuada, pretium ultrices sem feugiat. Mauris elit tortor, mattis et blandit et, fringilla et lacus. Sed ullamcorper ante facilisis efficitur eleifend. Nam rutrum posuere ligula. Aliquam venenatis at orci non ultrices. Cras ultrices accumsan dui a porttitor. In et fermentum velit. Morbi fermentum ipsum magna, ut fringilla libero fermentum eget. Mauris scelerisque turpis lectus, nec vulputate arcu egestas ac. Duis sollicitudin molestie consectetur. Donec semper mauris vel nisl faucibus, id hendrerit elit dapibus.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="features-right-grids">
                    <div class="features-right-left">
                        <div class="features-right-icon effect-2">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="features-right-right">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam orci odio, viverra quis convallis et, laoreet nec arcu. Nulla pellentesque purus in velit placerat luctus. Aliquam elementum vestibulum lobortis. Donec fermentum arcu efficitur urna malesuada, pretium ultrices sem feugiat. Mauris elit tortor, mattis et blandit et, fringilla et lacus. Sed ullamcorper ante facilisis efficitur eleifend. Nam rutrum posuere ligula. Aliquam venenatis at orci non ultrices. Cras ultrices accumsan dui a porttitor. In et fermentum velit. Morbi fermentum ipsum magna, ut fringilla libero fermentum eget. Mauris scelerisque turpis lectus, nec vulputate arcu egestas ac. Duis sollicitudin molestie consectetur. Donec semper mauris vel nisl faucibus, id hendrerit elit dapibus.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //features -->

<!-- customer -->
<div class="customer">
    <div class="container">
        <div class="customer-heading">
            <h3>What Our Customers are Saying</h3>
        </div>
        <div class="customer-heading-grids">
            {% for comment in comments %}
            <div class="col-md-4 customer-grid">
                
                <div class="customer-img">
                    
                    <h5>{{ comment.content }}</h5>
                </div>
            </div>
            {% endfor %}
            
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //customer -->

{% endblock content %}