{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>City Inn | Signup</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css'%}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">



</head>

<body>

    <h1 class="text-center pb-4"><a href="/" style="text-decoration: none; color: black;">City Inn</a></h1>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 border border-dark  text-center">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Create Account</h3>
                        {% include 'partials/_messages.html' %}
                    </div>
                    <div class="panel-body">
                        <form role="form" method="POST">
                            {% csrf_token %}

                            <fieldset>

                                <div class="form-group m-4">
                                    <input class="form-control" placeholder="Username" id="usernameField"
                                        name="username" type="text" autofocus required>
                                </div>
                                <div class="invalid_feedback invalid-feedback" style="display: none;"></div>
                                <p class="text-sm text-success usernamesuccessOutput"></p>

                                <div class="form-group m-4">
                                    <input class="form-control" placeholder="Email" name="email" type="text"
                                        id="emailField" autofocus required>
                                </div>
                                <div class="emailfeedBackArea invalid-feedback" style="display: none;"></div>

                                <div class="form-group m-4">
                                    <input class="form-control" placeholder="Address" name="address" type="text"
                                        required>
                                </div>
                                <div class="form-group m-4">
                                    <input class="form-control" placeholder="Contact No" name="contact" type="number" min="0" required>
                                </div>
                                <div class="form-group m-4">
                                    <input class="form-control" placeholder="Area(Ashok nagar)" name="area" type="text"
                                        required>
                                </div>
                                
                                <div class="form-group m-4">
                                    <input class="form-control" placeholder="Password" name="password" type="password"
                                    id="passwordField"
                                        required>
                                    <small style="text-align: right;" class="float-right showPasswordToggle">SHOW</small>
                                </div>
                                <div class="invalid_feedback invalid-feedback" style="display: none;"></div>
                                <p class="text-sm text-success passwordsuccessOutput"></p>


                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" name="submit"
                                    class="btn btn-lg btn-dark btn-block submit-btn" style="background-color: black; color: white;">Signup
                                    </button>
                            </fieldset>
                            <br>
                            <div class="form-group text-center">
                                <h5> Have Account? <a href="{% url 'login' %}">Login</a> instead</h5>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <!-- main js (custom) -->
    <script src="{% static 'js/register.js' %}"></script>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js'%}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js'%}"></script>

</body>

</html>