{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-4">

        <div>
            <canvas id="myChart"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
        <script>
            const labels = [
                'January',
                'February',
                'March',
                'April',
                'May',
                'June',
            ];
            const data = {
                labels: {{ labels|safe }},
                datasets: [{
                    label: 'Course Order',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: {{ data|safe }},
                }]
            };
            const config = {
                type: 'bar',
                data,
                options: {}
            };
            var myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        </script>

    </div>
    <div class="col-md-4 pt-4"><br><br><br>
        <h1>User Profile</h1>
        <div class="list-group border border-warning">
            <a class="list-group-item list-group-item-action customstyle">
                <strong>Username:</strong> {{ request.user.username }}
            </a>
            <a class="list-group-item list-group-item-action customstyle">
                <strong>Email:</strong> {{ request.user.email }}
            </a>
            <a class="list-group-item list-group-item-action customstyle">
                <strong>Last Login:</strong> {{ request.user.last_login }}
            </a>
            <a class="list-group-item list-group-item-action customstyle">
                <strong>Date Joined:</strong> {{ request.user.date_joined }}
            </a>
            <a class="list-group-item list-group-item-action customstyle">
                <strong>Address:</strong> {{ profile.address }}
            </a>
            <a class="list-group-item list-group-item-action customstyle" href="{% url 'myorders' %}">
                <strong> Click here to view all orders</strong> 
            </a>
            <a href="" class="btn btn-info">Update</a>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>


{% endblock content %}