{% extends 'admin_base.html' %}

{% block admin_content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Add Food Menu</h3>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}

                        <div class="form-floating mb-3">
                    {% if field.field.widget.input_type != "select" %}
                    <input type="{{ field.field.widget.input_type }}" name={{ field.name }} id="{{ field.name }}" class="form-control">
                    {% endif %}

                    {% if field.field.widget.input_type == "select" %}
                    <select name={{ field.name }} id="{{ field.name }}" class="form-control">
                
                            {% for id,value in field.field.choices %}
                    <option value="{{ id }}">{{ value }}</option>
                {% endfor %}
            </select>
            {% endif %}
                            <label>{{ field.label }}</label>


                            {% if field.errors %}
                            <div class="alert alert-danger" style="margin:10px">
                                {{ field.errors }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}


                        <div class="mt-4 mb-0">
                            <div class="d-grid"><input type="submit" class="btn btn-dark btn-block" value="ADD FOOD MENU" /></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock admin_content %}