{% extends 'admin_base.html' %}

{% block admin_content %}

<div>
    <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const labels = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
    ];
    const data = {
        labels: [{% for c in courses %}'{{ c.course|title }}',{% endfor %}],
        datasets: [{
            label: 'Menu in particular course',
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(100, 100, 100)',
            'rgb(150, 150, 150)',
            ],
            borderColor: 'rgb(255, 99, 132)',
            data: [{% for c in courses %}{{ c.dcount }}, {% endfor %}],
        }]
    };
    const config = {
        type: 'pie',
        data,
        options: {}
    };
    var myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>

{% endblock admin_content %}