{% extends 'admin_base.html' %}

{% block admin_content %}

<div class="row">

    <div class="col-xl-3 col-md-6">
        <div class="card bg-dark text-white mb-4">
            <div class="card-body" >All Menus: {{ all_foods }}</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white"><a href="{% url 'all_foods_admin' %}" style="color: white;">View</a></div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-dark text-white mb-4">
            <div class="card-body" >All Orders: {{ all_orders }}</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white"><a href="{% url 'all_orders_admin' %}" style="color: white;">View</a></div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-dark text-white mb-4">
            <div class="card-body" >All Customers: {{ all_customers }}</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white"><a href="{% url 'all_customers' %}" style="color: white;">View</a></div>
            </div>
        </div>
    </div>

</div>




{% endblock admin_content %}